//@import "compass/reset";
@import "compass/css3";

*{
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body{
  height: 100%;
  font: 14px "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif,"微軟正黑體";
}

div.container{
  background-color: #FAFAFA;
  padding: 20px;
  border: 1px solid #dfdfdf;
}

div.loading_container{
  width: 64px;
  margin: 20px auto 0px auto;
  display: none;
}

img#loading{
  height: 64px;
  width: 64px;
}